.login{
  display: grid;
  place-items: center;
  height:100vh;
  background-color: black;
}
.login > img {
  width:60%;
}
.login > a {
 
 padding:15px;
 border-radius:99px; 
 background-color: #1db954;
 font-weight: 600;
 color: white;
 text-emphasis: none;
}